.TodoForm {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 4px;
}

.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.TodoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}

.TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.TodoForm p {
  margin-left: 10px;
}

.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.TodoForm .pick-time {
  padding: 1.5rem;
}

.TodoForm .pick-project {
  padding: 0.5rem;
}

.TodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.TodoForm .pick-project .projects .project {
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.TodoForm .pick-project .projects .active {
  background-color: #0080ff;
  color: white;
}

.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.TodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.TodoForm .confirm button {
  width: 100%;
  height: 40px;
  background-color: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}