
.AddNewTodo{
  border-bottom: 1px solid #d7d6d6;
}
.AddNewTodo .btn{
  padding: 1rem;
  width: 100%;
  height: 70px;
}
.AddNewTodo .btn button{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #0080ff;
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
}
.AddNewTodo .btn button:hover{
  filter: brightness(1.2);
  transition: all 300ms ease;
}

/* .AddNewTodo form{
  background-color: white;
} */