.User {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}